# vim:ft=kdl

themes {
  {
    bg "#{{ bgGray }}"
    fg "#{{ fg }}"
    red "#{{ red }}"
    green "#{{ green }}"
    blue "#{{ blue }}"
    yellow "#{{ gold }}"
    magenta "#{{ violet }}"
    orange "#{{ orange }}"
    cyan "#{{ turquoise }}"
    black "#{{ core }}"
    white "#{{ fg }}"
  }
}
