*.selected.bg = "#{{bgGray}}"
*.selected.fg = "#{{fg}}"
*.selected.bold = true

statusline_*.dim = true
statusline_*.bg = "#{{core}}"
statusline_*.fg = "#{{fg}}"

*warning.fg = "#{{orange}}"
*success.fg = "#{{green}}"
*error.fg = "#{{vermilion}}"
*error.bold = true

border.bg = true
border.fg = "#{{blue}}"

title.bg = "#{{bg}}"
title.fg = "#{{rose}}"
title.bold = true

header.fg = "#{{rose}}"
header.bold = true

msglist_unread.bold = true
msglist_deleted.dim = true
msglist_marked.bg = "#{{bg}}"
msglist_marked.fg = "#{{gold}}"
msglist_pill.bg = "#{{blue}}"
msglist_pill.fg = "#{{blue}}"

part_mimetype.fg = "#{{rose}}"

selector_chooser.bold = true
selector_focused.bold = true
selector_focused.bg = "#{{rose}}"
selector_focused.fg = "#{{core}}"

completion_pill.bg = "#{{gray}}"
completion_default.bg = "#{{bgGray}}"
completion_default.selected.bg = "#{{gray}}"
completion_default.fg = "#{{fg}}"

[viewer]
url.underline = true
url.fg = "#{{rose}}"

header.bold = true
header.fg = "#{{rose}}"

signature.dim = true
signature.fg = "#{{gold}}"

diff_meta.bold = true
diff_chunk.fg = "#ff69b4"
diff_chunk_func.fg = "#ff69b4"
diff_chunk_func.dim = true
diff_add.fg = "#{{green}}"
diff_del.fg = "#{{red}}"

quote_1.fg = 6
quote_2.fg = 4
quote_3.fg = 6
quote_3.dim = true
quote_4.fg = 4
quote_4.dim = true
quote_x.fg = 5
quote_x.dim = true
