# vim:ft=dosini
[base]
default          = #{{ colors.fg }}
unknown-token    = #{{ colors.red }},bold
commandseparator = #{{ colors.turquoise }}
redirection      = #{{ colors.turquoise }}
here-string-tri  = #{{ colors.fgGray }}
here-string-text = #{{ colors.fgGray }}
here-string-var  = #{{ colors.fgGray }}
exec-descriptor  = none
comment          = #{{ colors.gray }}
correct-subtle   = #{{ colors.indigo }}
incorrect-subtle = #{{ colors.vermilion }}
subtle-separator = none
subtle-bg        = none
secondary        =
recursive-base   = #{{ colors.fg }}

[command-point]
reserved-word     = #{{ colors.violet }}
subcommand        = #{{ colors.vermilion }}
alias             = #{{ colors.blue }}
suffix-alias      = #{{ colors.blue }}
global-alias      = #{{ colors.blue }}
builtin           = #{{ colors.violet }}
function          = #{{ colors.blue }}
command           = #{{ colors.blue }}
precommand        = #{{ colors.violet }}
hashed-command    = #{{ colors.blue }}
single-sq-bracket = #{{ colors.gold }}
double-sq-bracket = #{{ colors.gold }}
double-paren      = #{{ colors.green }}

[paths]
path          = #{{ colors.indigo }}
pathseparator = #{{ colors.indigo }}
path-to-dir   = #{{ colors.indigo }}
globbing      = #{{ colors.rose }}
globbing-ext  = none

[brackets]
paired-bracket  = bold
bracket-level-1 = #{{ colors.red }}
bracket-level-2 = #{{ colors.gold }}
bracket-level-3 = #{{ colors.cerulean }}

[arguments]
single-hyphen-option   = #{{ colors.turquoise }}
double-hyphen-option   = #{{ colors.turquoise }}
back-quoted-argument   = #{{ colors.turquoise }}
single-quoted-argument = #{{ colors.green }}
double-quoted-argument = #{{ colors.green }}
dollar-quoted-argument = #{{ colors.green }}
optarg-string          = #{{ colors.green }}
optarg-number          = #{{ colors.orange }}

[in-string]
back-dollar-quoted-argument           = #{{ colors.orange }}
back-or-dollar-double-quoted-argument = #{{ colors.orange }}

[other]
variable             = #{{ colors.orange }}
assign               = none
assign-array-bracket = none
history-expansion    = none

[math]
mathvar = #{{ colors.rose }}
mathnum = #{{ colors.orange }}
matherr = #{{ colors.red }},bold

[for-loop]
forvar  = #{{ colors.fg }}
fornum  = #{{ colors.orange }}
foroper = #{{ colors.blue }}
forsep  = #{{ colors.blue }}

[case]
case-input       = #{{ colors.orange }}
case-parentheses = #{{ colors.fg }}
case-condition   = #{{ colors.violet }}
